body{
    font-family: 'Open Sans Condensed', sans-serif;
}
.todo-completed{
    background-color: aqua;
    text-decoration: line-through;
}
a,
a:hover{
    color: black;
    text-decoration: none;
}