{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <link rel="stylesheet" href="{% static 'todo/styles.css' %}">
</head>
<body>
    <div class="container" id="wrapper">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-6 py-2" id="content">
                <h4>WHAT DO YOU WANT TO DO TODAY?</h4>
                <form action="" method="POST" role="form" >
                    <div class="form-group py-3">
                        <div class="input-group">
                            <input type="text" name="" id="" class="form-control"
                             placeholder="Enter todo" aria-label="Todo" aria-describedby="add btn">
                             <span class="input-group-btn px-2">
                                 <button type="submit" class="btn btn-default bg-primary" id="add-btn">ADD</button>
                             </span>
                        </div>
                    </div>
                </form>
                <div class="row t10">
                    <div class="col-lg-12">
                        <div class="btn-toolbar">
                            <div class="btn-group px-5">
                                <button type="submit" class="btn btn-warning">
                                    <i class="glyphicon glyphicon-trash">DELETE COMPLETED</i>
                                </button>
                            </div>
                            <div class="btn-group">
                                <button type="submit" class="btn btn-danger">
                                    <i class="glyphicon glyphicon-trash">DELETE ALL</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group t20 p-3">
                    
                    {% for todo in todo_list %}
                        {% if todo.complete %}
                        <li class="list-group-item todo-completed"> {{ todo.text }}</li>
                        {% else %}
                        <a href=""><li class="list-group-item">{{ todo.text }}</li></a>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <footer>
            <div class="row pad bg-dark">
                <div class="col-lg-12 text-center text-white py-3">
                    copyright &copy; 2019
                </div>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>